:root {
  --principal-color: #e14852;
}

.App-header {
  display: flex;
  color: var(--principal-color);
  align-items: center;
  border-bottom: 4px solid var(--principal-color);

}

.App-header img {
  width: 200px;
  height: 200px;
}

.App-body {
  margin: 50px 0 350px 60px;
}

.App-footer {
  display: flex;
  justify-content: center;
  border-top: 4px solid var(--principal-color);
  font-style: italic;
}
